accelerate
cmake
compressed_tensors==0.11.0
datasets
einops
fastchat
flashinfer-python==0.2.4
fuzzywuzzy
huggingface_hub==0.25.2
jieba
matplotlib
ninja
numpy
omegaconf
packaging
pandas
protobuf
pytest
rouge
rouge_score
scikit-learn
scipy
seaborn
sentencepiece
tensor_parallel==2.0.0
torch==2.5.1
tqdm
transformers==4.45.2
wandb
zstandard
setuptools